#mxr {
    font-family:Verdana, Arial, Helvetica, sans-serif;

    $padding: 5px;

    margin: $padding;
    padding: $padding;
    border:1px solid #33CC33;
    background: #CCFFCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;

    .box{
        margin: $padding;
        border:1px solid #AAAAAA;
        background: #EEEEEE;
    }

    .row {
        font-size:15px;
        padding: 5px;
    }

    .row, .box {
        padding: $padding;
        // width: 90%;
        border-radius: 5px;
    }

    input {
        padding:5px;
        font-size:15px;
        width: 40px;
        border: none;
        outline: none;
        border:1px solid #33CC33;
        background-color: #EEEEEE;
        border-radius: 5px;
    }
    select, button {
        @extend input;
        width: auto;
        cursor: pointer;
    }

    .right {
        float: right;
    }

    #add {
        margin-left: 5px;
    }

}

